* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
    background-image: url(/Encriptador-Aluara.github.io/imagenes/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.headLogo {
    width: 35px;
    display: flex;
    margin:  auto;
    padding-top: 5px;
}

section {
    height: 400px;
    padding: 5%;
}
.banner {
    display: flex;
    justify-content: center;
}
.banner textarea{
    background-color: rgba(252, 252, 251,.4);
    box-shadow: -2px 3px 2px  rgba(229, 0, 255, 0.5);
    resize: none;
    width: 350px;
    height: 250px;
    margin: 30px;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    color: white;
    font-size: 1.2rem;
    font-weight:200;
}

.boton {
    display: flex;
    justify-content:space-around;
    width: 40%;
    height: 50px;
    margin-left: 31%;
}
.boton__encriptador {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    background-color: rgba(255, 166, 0, 1);
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight:300;
    cursor: pointer;
}
.boton__copiar {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    background-color: rgba(255, 166, 0, 1);
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight:300;
    cursor: pointer;
}
.boton__desencriptador {
    height: 2.5rem;
    width: 7rem;
    border: none;
    border-radius: 3px;
    margin-top: 5px;
    background-color: rgba(255, 166, 0, 1);
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    color: rgb(56, 56, 56);
    font-size: 1.2rem;
    font-weight:300;
    cursor: pointer;
}
.boton__encriptador:hover {
    color: gold;
    background-color: black;    
}
.boton__desencriptador:hover {
    color: gold;
    background-color: black;    
}
.boton__copiar:hover {
    color: gold;
    background-color: black;    
}

footer {
    margin-top: 7rem;
    font-family: "Kanit", sans-serif;
    font-weight: 100;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight:300;
    text-align: center;
}