body {
    margin: 0px;
    padding: 0%;
    background-color: azure;
}

.logo {
    width: 5%;
    float: left;
    background: #E0FFFF;
    border-radius: 30%;
    margin-left: 1%;
    margin-top: 1%;
}

#textoEncriptado {
    width: 500px;
    height: 400px;
    margin-right: 48%;
    margin-top: 7%;
    background-color: azure;
    float: inline-end;
    border: 0;
    border-radius: 3%;
}

::placeholder {
    float:left;
    color: grey;
}

.imagen {
    width: 100%;
    float: right;
    margin-right: -100%;
    margin-top: -140%;
    border-radius: 5%;
}

#textoDesencriptado {
    width: 400px;
    height: 300px;
    float: right;
    margin-top: -12%;
    margin-right: 5%;
    border: 0;
}

#botonCopiar {
    display: none;
    width: 5%;
    height: 25%;
    border-radius: 10%;
    background-color: aquamarine;
    border: 0;
    margin: 60px;
}

#botonEncriptado {
    width: 10%;
    height: 25%;
    border-radius: 9%;
    background-color: aquamarine;
    float: left;
    margin: 60px;
    margin-left: 8%;
    border: 0;
    scale: 2;
}
#botonDesencriptado {
    width: 10%;
    height: 25%;
    border-radius: 9%;
    background-color: rgb(127, 170, 156);
    float: left;
    margin: 60px;
    margin-left: 10%;
    border: 0;
    scale: 2;
}
 
.right {
    float: right;
    width: 30%;
    margin-top: -3%;
    border-radius: 24px;
    background-color: azure;
}

.texto1 {
    color: rgb(0, 0, 214); 
    
}

